*.pyc
REC/__pycache__/listeners.cpython-313.pyc
*.pyc
REC/__pycache__/alerts_screen.cpython-313.pyc
REC/__pycache__/login_screen.cpython-313.pyc
REC/__pycache__/main_screen.cpython-313.pyc
REC/__pycache__/settings_screen.cpython-313.pyc
REC/config/__pycache__/settings.cpython-313.pyc
/REC/__pycache__
*.pyc
